header.header
    i.fas.fa-exchange-alt.fa-lg.header-icon.toggle-sidebar
    .dropdown.notifications-container
        i.fas.fa-bell.fa-lg.header-icon.toggle-notifications#notifications(data-noti='10' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false')
        .dropdown-menu(aria-labelledby='notifications')
            .noti-head
                | Notifications
                span.text-center 10
            .content
                ul.list-unstyled
                    li 
                        span: i.far.fa-envelope.fa-lg.fa-fw
                        | You Got Email 
                    li 
                        span: i.far.fa-money-bill-alt.fa-lg.fa-fw
                        | You Got Money 
                    li 
                        span: i.far.fa-thumbs-up.fa-lg.fa-fw
                        | You Got Like 
                    li 
                        span: i.far.fa-envelope.fa-lg.fa-fw
                        | You Got Email 
            .noti-foot.text-center
                a(href="#") Viwe All Notifications
        i.fas.fa-expand.fa-lg.header-icon.toggle-fullscreen
