.sidebar
    .logo.text-center Dashborde
    ul.links-area.list-unstyled
        li: a(href="#") Home
        li
            a.toggle-menu(href="#")
                | Forms
                i.fas.fa-angle-right.toggle-submenu
            ul.child-links.list-unstyled
                li: a(href="#") Input
                li: a(href="#") Checkbox
                li: a(href="#") Textarea
                li: a(href="#") Radio
        li
            a.toggle-menu(href="#") 
                | Misc
                i.fas.fa-angle-right.toggle-submenu
            ul.child-links.list-unstyled
                li: a(href="#") Loading
                li: a(href="#") Breadcrumbs 