link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700,900|Montserrat:100,200,300,400,500,600,700,800|Open+Sans:300,400,600,700,800|Raleway:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900|Source+Sans+Pro:200,300,400,600,700,900&display=swap")
link(rel="stylesheet", href="css/bootstrap.min.css")