- var pageTitle = 'Homepage'
<!DOCTYPE html>
html(lang="en")
    head
        <!-- meta tags -->
        include layout/meta
        title #{pageTitle}
        <!-- css file -->
        include layout/style
        block file-css
            link(rel="stylesheet", href="css/main.css")
    body
        .page.home-page
            include layout/sidebar
            .content-area
                include layout/header
                .content
                    h1 #{pageTitle}
                    

        <!-- file js -->
        include layout/script
        block file-js
            script(src="js/main.js")