* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.page {
    min-height: 100vh;
    overflow: hidden;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100%;
        transition: .3s;
        will-change: width;
        float: right;
        &.no-sidebar {
            width: 100%;
        }
    }
}