body {
    font-family: 'Lato', sans-serif;
    &.lato {
        font-family: 'Lato', sans-serif;
    }
    &.Roboto {
        font-family: 'Roboto', sans-serif;
    }
    &.Open {
        font-family: 'Open Sans', sans-serif;
    }
    &.Source {
        font-family: 'Source Sans Pro', sans-serif;
    }
    &.Montserrat {
        font-family: 'Montserrat', sans-serif;
    }
    &.Raleway {
        font-family: 'Raleway', sans-serif;
    }
}

.page {
    min-height: 100vh;
    overflow: hidden;
    .content-area {
        width: calc(100% - 250px);
        min-height: 100vh;;
        transition: .3s;
        will-change: width;
        float: right;
        background-color: #ecf0f5;
        &.no-sidebar {
            width: 100%;
        }
    }
    .page-head {
        .page-title {
            color: #2980b9;
            margin-top: 30px;
        }
    }
}