.header {
    background-color: $flatBlueAlt;
    padding: 17.8px 30px;
    .header-icon {
        background-color: #fff;
        color: #666;
        padding: 10px 8.8px;
        border-radius: 50%;
        font-size: 1.1rem;
        cursor: pointer;
        position: relative;
        margin: 0 15px;
        &.toggle-notifications::after {
            content: attr(data-noti);
            position: absolute;
            bottom: 60%;
            left: 60%;
            width: 20px;
            height: 20px;
            line-height: 20px;
            border-radius: 50%;
            background-color: #e74c3c;
            color: #fff;
            text-align: center;
            font-size: .8rem;
        }
    }
    .notifications-container {
        display: inline;
        margin-left: 1.8rem;
        .dropdown-menu {
            width: 300px;
            top: 15px !important;
            left: -10px !important;
            box-shadow: 0px 1px 10px #b6b3b3;
            border: none;
            margin: 0;
            padding: 0;
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                left: 16px;
                border-color: transparent transparent #666;
                border-width: 10px;
                border-style: solid;
            }
            .noti-head {
                padding: 15px 20px;
                background-color: #666;
                color: #fff;
                border-radius: .25rem .25rem 0 0;
                span {
                    float: right;
                    display: block;
                    width: 30px;
                    height: 30px;
                    line-height: 30px;
                    border-radius: 50%;
                    background-color: $flatRedAlt;
                }
            }
            .content {
                padding: 15px 20px;
                ul {
                    li {
                        color: #666;
                        overflow: hidden;
                        padding: 10px 0;
                        span {
                            width: 40px;
                            height: 40px;
                            border-radius: 50%;
                            line-height: 40px;
                            background-color: #666;
                            position: relative;
                            display: block;
                            margin-right: 15px;
                            float: left;
                            text-align: center;
                            top: -5px;
                        i {
                            color: #fff;
                        }
                        }                        
                    }
                }
            }
            .noti-foot {
                a {
                    display: block;
                    padding: 15px;
                    border-top: 1px solid #666;
                    color: #666;
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }
    }
    .usermenu-container {
        float: right;
        .user {
            cursor: pointer;
            .avatar {
                width: 40px;
                height: 40px;
            }
            .user {
                font-weight: bold;
                color: #fff;
                margin: 0 20px;
                font-size: 1.2rem;
            }
            i {
                color: #fff;
            }
        }
        .dropdown-menu {
            min-width: 500px;
            top: 15px !important;
            left: auto !important;
            right: 0 !important;
            box-shadow: 0px 1px 10px #b6b3b3;
            border: none;
            margin: 0;
            padding: 20px;
            transform: translate3d(0, 40px, 0) !important;
            &::before {
                content: "";
                position: absolute;
                top: -20px;
                right: 40px;
                border-color: transparent transparent #fff;
                border-width: 10px;
                border-style: solid;
            }
            .user-info {
                h3 {
                    color: $flatBlue;
                }
            }
            .activities-list {
                li {
                    padding: 10px;
                }
            }
            .links-box {
                padding: 10px 20px;
                border: 1px solid;
                border-radius: .25rem;
                color: #b6b3b3;
                cursor: pointer;
                transition: .3s;
                i {
                    padding-right: 15px;
                    position: relative;
                    top: 3px;
                }
                span {
                    font-size: .7rem;
                    font-weight: bold;
                }
                &.setting:hover {
                    color: $flatGreen;
                }
                &.profile:hover {
                    color: $flatBlue;
                }
                &.log-out:hover {
                    color: $flatRedAlt;
                }
            }
        }
    }
}