.setting-box.hide-setting
    .toggle-setting
        i.fas.fa-cog
    .gestting-content.text-center
        .option-box.color-option
            h4.option-title color option
            - var themes = ['green-theme', 'blue-theme',  'red-theme',  'orange-theme', 'wisteria-theme']
            ul.list-unstyled
                each theme in themes
                    li(data-theme=theme)
        .option-box.font-option
            h4.option-title fonts option
            - var fonts = ['Lato', 'Roboto', 'Raleway', 'Open', 'Montserrat', 'Source']
            select.form-control
                each font in fonts
                    option(value=font)=font + ' Font'
        .option-box.sidebar-option
            h4.option-title sidebar option